<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dto">
	<select id="selectAllEmp" resultType="EmpDTO">
		select empno, ename, job, mgr, to_char(hiredate, 'yyyy-mm-dd') hiredate, sal, comm, deptno
        from emp
	</select>
	<insert id="insertEmp" parameterType="EmpDTO">
		insert into emp
		values(#{empno}, #{ename}, #{job}, #{mgr}, sysdate, #{sal}, null, null)
	</insert>
</mapper>
